In [106]:
import pandas as pd

UNKNOWN = 'unknown'

In [107]:
# Read in the data from the CSV file into a a dataframe 
df = pd.read_csv('coded_log.csv', sep=";",names=['userId', '1?', 'date','eventType','application','2?','ip','3?','4?','5?'])

In [108]:
# Visualize a snippet of the data frame df
df.head(20)

,userId,1?,date,eventType,application,2?,ip,3?,4?,5?
0,1,10036,2021-05-11 18:48:34.000,1,HRW,NaN,NaN,xxx,,o8zeb75bwa
1,1,64429,2021-04-17 12:04:05.000,1,HRW,NaN,NaN,xxx,,gud00usqus
2,1,78248,2021-05-16 00:04:05.000,1,HRW,NaN,NaN,xxx,,dl5ncrxi13
3,1,148583,2021-06-19 21:32:23.000,1,HRW,NaN,NaN,xxx,,j9m8itiaka
4,1,180593,2021-03-29 15:03:36.000,1,HRW,NaN,NaN,xxx,,r3649bgcxn
5,1,436612,2021-03-23 15:04:01.000,1,HRW,NaN,NaN,xxx,,q2xposd8fx
6,1,478900,2021-04-30 08:34:03.000,1,HRW,NaN,NaN,xxx,,squqm84joa
7,1,562910,2021-06-25 08:01:30.000,1,HRW,NaN,NaN,xxx,,cx4iagls3j
8,1,563290,2021-06-02 10:46:15.000,1,HRW,NaN,NaN,xxx,,ow1gzqachr
9,1,613000,2021-05-17 20:20:27.000,1,HRW,NaN,NaN,xxx,,zj66xzdnj6
10,1,618868,2021-04-17 20:34:05.000,1,HRW,NaN,NaN,xxx,,k0x8cfcsl1
11,1,624055,2021-04-25 04:04:56.000,1,HRW,NaN,NaN,xxx,,gdk7exowox
12,1,713911,2021-06-12 23:46:51.000,1,HRW,NaN,NaN,xxx,,r782pvik9f
13,1,743087,2021-04-29 00:19:06.000,1,HRW,NaN,NaN,xxx,,zby5szbhxz
14,1,746862,2021-04-10 06:34:01.000,1,HRW,NaN,NaN,xxx,,z54em0xlt9
15,1,952128,2021-04-18 05:04:05.000,1,HRW,NaN,NaN,xxx,,kqyutva1l4
16,1,1017865,2021-04-14 20:48:17.000,1,HRW,NaN,NaN,xxx,,d1yf9ic5ow
17,1,1190778,2021-05-12 15:04:15.000,1,HRW,NaN,NaN,xxx,,vk2fpiq9g1
18,1,1346496,2021-06-26 15:16:20.000,1,HRW,NaN,NaN,xxx,,om6gvu1rie
19,1,1369437,2021-05-08 13:33:51.000,1,HRW,NaN,NaN,xxx,,z9wvbqkn85

In [109]:
#remove unkown coloums
df_ = df.drop(columns=['1?','2?','3?','4?','5?'])

df_.head(20)

    userId                     date  eventType application   ip
0        1  2021-05-11 18:48:34.000          1         HRW  NaN
1        1  2021-04-17 12:04:05.000          1         HRW  NaN
2        1  2021-05-16 00:04:05.000          1         HRW  NaN
3        1  2021-06-19 21:32:23.000          1         HRW  NaN
4        1  2021-03-29 15:03:36.000          1         HRW  NaN
5        1  2021-03-23 15:04:01.000          1         HRW  NaN
6        1  2021-04-30 08:34:03.000          1         HRW  NaN
7        1  2021-06-25 08:01:30.000          1         HRW  NaN
8        1  2021-06-02 10:46:15.000          1         HRW  NaN
9        1  2021-05-17 20:20:27.000          1         HRW  NaN
10       1  2021-04-17 20:34:05.000          1         HRW  NaN
11       1  2021-04-25 04:04:56.000          1         HRW  NaN
12       1  2021-06-12 23:46:51.000          1         HRW  NaN
13       1  2021-04-29 00:19:06.000          1         HRW  NaN
14       1  2021-04-10 06:34:01.000          1         HRW  NaN
15       1  2021-04-18 05:04:05.000          1         HRW  NaN
16       1  2021-04-14 20:48:17.000          1         HRW  NaN
17       1  2021-05-12 15:04:15.000          1         HRW  NaN
18       1  2021-06-26 15:16:20.000          1         HRW  NaN
19       1  2021-05-08 13:33:51.000          1         HRW  NaN

In [110]:
#cleaning row data
df_.fillna(UNKNOWN,inplace=True)

df_.head(20)

    userId                     date  eventType application       ip
0        1  2021-05-11 18:48:34.000          1         HRW  unknown
1        1  2021-04-17 12:04:05.000          1         HRW  unknown
2        1  2021-05-16 00:04:05.000          1         HRW  unknown
3        1  2021-06-19 21:32:23.000          1         HRW  unknown
4        1  2021-03-29 15:03:36.000          1         HRW  unknown
5        1  2021-03-23 15:04:01.000          1         HRW  unknown
6        1  2021-04-30 08:34:03.000          1         HRW  unknown
7        1  2021-06-25 08:01:30.000          1         HRW  unknown
8        1  2021-06-02 10:46:15.000          1         HRW  unknown
9        1  2021-05-17 20:20:27.000          1         HRW  unknown
10       1  2021-04-17 20:34:05.000          1         HRW  unknown
11       1  2021-04-25 04:04:56.000          1         HRW  unknown
12       1  2021-06-12 23:46:51.000          1         HRW  unknown
13       1  2021-04-29 00:19:06.000          1         HRW  unknown
14       1  2021-04-10 06:34:01.000          1         HRW  unknown
15       1  2021-04-18 05:04:05.000          1         HRW  unknown
16       1  2021-04-14 20:48:17.000          1         HRW  unknown
17       1  2021-05-12 15:04:15.000          1         HRW  unknown
18       1  2021-06-26 15:16:20.000          1         HRW  unknown
19       1  2021-05-08 13:33:51.000          1         HRW  unknown

In [111]:
#DATA CLEANING 

#print(type(df_['eventType'][0])
print(df_['eventType'].dtypes)
#check data consistency delete rows containing non-valid event code
df_ = df_[(df_.eventType >= 1) & (df_.eventType <= 3)]
#check data rendundancy
duplicates = df_.duplicated().sum()
if(duplicates > 0):
    print(f'Duplicates number {duplicates} on {len(df_.index)}')
    df_.drop_duplicates(inplace = True)
    print(f'New size:{len(df_.index)}')

int64
Duplicates number 3432 on 849552
New size:846120